<div id ="homepage-tabset">
  <ngb-tabset [destroyOnHide]="false" class="mt-5" type="pills" justify="center">
    <ngb-tab>
      <ng-template ngbTabTitle><b>Top 5</b> artists with the <b>most albums</b></ng-template>
      <ng-template ngbTabContent>
        <div id="artists-with-most-albums-chart" class="column-chart"></div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Top 5</b> artists with the <b>most bands</b></ng-template>
      <ng-template ngbTabContent>
        <div id="artists-with-most-bands-chart" class="column-chart"></div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
