<table class="table">
  <tbody>
  <tr *ngFor="let song of songs; index as i">
    <td>
      {{ song.title}}
      <span class="red-dot" *ngIf="song.preview===''"></span>
      <span class="green-dot" *ngIf="song.preview!==''"></span>
    </td>
    <td>
      <audio  [id]="'songPlyr'+i"  controls>
        <source type="audio/mp3" />
      </audio>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination">
<button type="button" class="btn btn-primary btn-sm" (click)="onPrevPage()">< Precedent </button>
  <div>{{currentPage}}</div>
<button type="button" class="btn btn-primary btn-sm" (click)="onNextPage()">Suivant ></button>
</div>



