<table class="table">
  <tbody>
  <tr *ngFor="let song of songs; index as i">
    <td>
      {{ song.title}}
      <span class="red-dot" *ngIf="song.preview===''"></span>
      <span class="green-dot" *ngIf="song.preview!==''"></span>
    </td>
    <td>
      <audio  [id]="'songPlyr'+i"  controls>
        <source type="audio/mp3" />
      </audio>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination">
  <div class="btn-group btn-group-toggle">
    <label class="btn-dark" ngbButtonLabel>
      <input type="checkbox" ngbButton (click)="onPrevPage()" ><<
    </label>
    <label class="btn-light" ngbButtonLabel>
      <input type="checkbox" ngbButton> {{currentPage}}
    </label>
    <label class="btn-dark" ngbButtonLabel>
      <input type="checkbox" ngbButton (click)="onNextPage()">>>
    </label>
  </div>
</div>



