<div class="hero-image"
     [ngStyle]="{background: 'url(' + artist.picture + ') no-repeat center center'}"></div>

<div class="hero-text">
  <img src="{{artist.picture}}" alt="Avatar" class="avatar">
  <h1>{{artist.name.replace("%20", " ")}}</h1>
  <!--<a class="btn btn-light" href="{{artist.moreInfo}}" role="button">More info</a>-->
  <ng-template #rt let-r="result" let-t="term" >
    <div *ngIf="r.albumTitle === undefined || r.title === undefined">
      <img [src]="r.picture" class="mr-1" style="width: 16px">
      <ngb-highlight [result]="r.albumTitle !== undefined ? r.albumTitle : r.name" [term]="t"></ngb-highlight>
    </div>
  </ng-template>

  <div class="input-group">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [(ngModel)]="searchText"
      [ngbTypeahead]="search"
      #instance="ngbTypeahead"
      name="searchField"
      (selectItem)="onSelectSearch($event.item)"
      [inputFormatter]="formatter"
      [resultTemplate]="rt"
      placeholder="Compare with artist"
    />
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="albumsGallery">
    <div class="albumCard" *ngFor="let album of artist.albums">
      <img [src]="album.cover != undefined ? album.cover.big:'/assets/album-default-cover.jpg'" alt="Avatar" (click)="onClickAlbum(album)">
      <div class="albumTitle">{{ album.title.length > 25 ? album.title.substring(0,25)+"..." : album.title }}</div>
      <div class="albumGenre">{{ album.genre }}</div>
    </div>
  </div>

  <div id="artist-charts">
    <ngb-tabset [destroyOnHide]="false" class="mt-5" type="pills" justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle>Genres</ng-template>
        <ng-template ngbTabContent>
          <div id="kind-of-albums" class="pie-chart"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Members' timeline</ng-template>
        <ng-template ngbTabContent>
          <div id="dumbell-plot-for-life-duration-brand" class="dumbellPlot-chart"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Members' writing contribution</ng-template>
        <ng-template ngbTabContent>
          <div id="stacked-artist-contribution" class="stacked-chart"></div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
