<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">

      <ng-template #rt let-r="result" let-t="term">
        <img [src]="r.picture" class="mr-1" style="width: 16px">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
      </ng-template>

      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="searchText"
        [ngbTypeahead]="search"
        #instance="ngbTypeahead"
        name="searchField"
        [resultTemplate]="rt"
      />
    </form>
  </div>
</nav>

<div id="demo-chart" style="width: 100%; height: 500px"></div>
<div id="column-chart" style="width: 100%; height: 500px"></div>
