<div class="hero-image"
     [ngStyle]="{background: 'url(' + artistPicture + ') no-repeat center center'}"></div>

<div class="hero-text">
  <img src="{{artistPicture}}" alt="Avatar" class="avatar">
  <h1>{{artistName.replace("%20", " ")}}</h1>
  <a class="btn btn-light" href="{{moreInfo}}" role="button">Plus d'infos</a>
</div>

<div style="z-index: 10;transform: translate(0px, -5px);">

  <div id="comparison-charts">
    <ngb-tabset [destroyOnHide]="false" class="mt-5" type="pills" justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle>Genres</ng-template>
        <ng-template ngbTabContent>
          <div id="kind-of-albums" class="pie-chart"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Members' timeline</ng-template>
        <ng-template ngbTabContent>
          <div id="dumbell-plot-for-life-duration-brand" class="dumbellPlot-chart"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Members' writing contribution</ng-template>
        <ng-template ngbTabContent>
          <div id="stacked-artist-contribution" class="stacked-chart"></div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
