<div class="hero-image-con">



  <div class="hero-image-right"
       [ngStyle]="{background: 'url(' + secondArtist.picture + ') no-repeat center center'}"></div>

  <div class="hero-image-left"
       [ngStyle]="{background: 'url(' + firstArtist.picture + ') no-repeat center center'}"></div>

</div>
<div class="hero-text">
  <img src="{{firstArtist.picture}}" alt="Avatar" class="avatar">
  <img src="{{secondArtist.picture}}" alt="Avatar" class="avatar">
  <h1>{{firstArtist.name.replace("%20", " ")}} vs {{secondArtist.name.replace("%20", " ")}}</h1>
  <a class="btn btn-light m-2" [routerLink]="['/artist', firstArtist.name]" role="button">View only {{firstArtist.name.replace("%20", " ")}}</a>
  <a class="btn btn-light m-2" [routerLink]="['/artist', secondArtist.name]" role="button">View only {{secondArtist.name.replace("%20", " ")}}</a>
</div>


<div id="timelineComparator" class="dumbellPlot-chart"></div>


<div>
  <!--
  <div class="albumsGallery">
    <div class="albumCard" *ngFor="let album of firstArtist.albums">
      <img [src]="album.cover != undefined ? album.cover.big:'/assets/album-default-cover.jpg'" alt="Avatar" (click)="onClickAlbum(album)">
      <div class="albumTitle">{{ album.title.length > 25 ? album.title.substring(0,25)+"..." : album.title }}</div>
      <div class="albumGenre">{{ album.genre }}</div>
    </div>
  </div>
-->
  <div id="artist-charts">
    <ngb-tabset [destroyOnHide]="false" class="mt-5" type="pills" justify="center">
      <ngb-tab>
        <ng-template ngbTabTitle>Timeline</ng-template>
        <ng-template ngbTabContent>

        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Word cloud</ng-template>
        <ng-template ngbTabContent>
          <div id="word-cloud" class="wordCloud-chart"></div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Genres</ng-template>
        <ng-template ngbTabContent>
          <div id="kind-of-albums" class="pie-chart"></div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
