<div class="albumCard">
  <img [src]=" albumDetails!=undefined && albumDetails.cover!= undefined ?albumDetails.cover.big:'/assets/album-default-cover.jpg'" alt="Avatar" (click)="onClickAlbum(albumDetails)">
</div>


<!--
<table class="table table-striped"  >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of albumDetails.songs; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ song.title }}
    </td>
    <td>
    </td>
  </tr>
  </tbody>
</table>-->
<div *ngIf="albumDetails !== undefined">
<app-song-player-manager [songs]="albumDetails.songs"></app-song-player-manager>
</div>

